:root {
  --primary-color: #4a76ee;
  --text-color: #1a1c20;
  --background-color: #eeeff1;
  --white: #ffffff;
  --gray: #666666;
  --transition: all 0.3s ease;
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

/* Sections */
section {
  padding: 5rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
header h3 {
  margin: 0;
  color: var(--text-color);
}
nav {
    display: flex;
    gap: 2em;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 500;
    gap: 3px; /* Space between icon and text */
}

nav a:nth-child(3) {
    color: var(--white); 
    
    background-color:var(--text-color);
    padding:5px 10px;
    border-radius:5px;
    
}

/* Responsive Design */
@media (max-width: 768px) {
}
